/**************************************HTML FONDO**************************************/
body {
  margin: 5px;
  padding: 5px; }

/**************************************HEADER**************************************/
header {
  background-color: black; }

/**************************************NAV BAR**************************************/
ul {
  display: flex;
  justify-content: space-between;
  font-size: 22px; }

li {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: white; }

/**************************************MAIN**************************************/
main {
  background-color: orange;
  color: black bold 5px; }

h1 {
  text-align: center;
  color: white; }

h1 .tituloPrincipal {
  display: flex;
  text-align: center;
  justify-content: center; }

/**************************************FOOTER**************************************/
div .redesF {
  display: flex;
  background-color: black;
  color: white;
  justify-content: end;
  text-align: end; }

/**************************************PAGINA HABILIDADES**************************************/
ul {
  display: flex;
  align-content: center; }

div {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  flex-flow: column; }

/*************************************PAGINA CURRICULUM**************************************/
section .texto1 {
  display: flex;
  justify-content: space-around;
  font-size: 45px;
  margin: 5px 5px 5px 5px; }

section .texto2 {
  display: flex;
  justify-content: space-around;
  font-size: 45px;
  margin: 5px 5px 5px 5px; }

/**************************************MAQUETAS*************************************/
p {
  text-align: center;
  font-size: 50px bold;
  color: black; }

/**************************************REDES**************************************/
