//COMPILADOR SASS

//VARIABLES
@import "variables";

//HTML FONDO
/**************************************HTML FONDO**************************************/
body {
    margin: 5px;
    padding: 5px;
}

html {
    background-color: steelblue;
}

//HEADER
/**************************************HEADER**************************************/

header {
    background-color: $color-principal;
}

//NAV BAR
/**************************************NAV BAR**************************************/

ul {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

li {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color:lawngreen;
    text-transform: uppercase;
    
}

//MAIN
/**************************************MAIN**************************************/
main {
    background-color: darkslateblue;
    color: black bold 5px;
}
h1 {
    color: lawngreen;
    background-color: darkslateblue;
    text-align: center;
    font-size: 35px;
    font-weight: bold;

    &:hover {
        background-color: darkmagenta;
    }
}

figure {
    width: 100%;
    height: auto;
}
//FOOTER
/**************************************FOOTER**************************************/
footer {
    background-color: darkslateblue;
    color:darkturquoise ;
    font-size: small;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
//PAGINA HABILIDADES
/**************************************PAGINA HABILIDADES**************************************/
ul {
    display: flex;
    align-content: center;
} 

div {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

//PAGINA CURRICULUM
/*************************************PAGINA CURRICULUM**************************************/
section {
    .texto1 {
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    margin: 5px 5px 5px 5px;
}
    .texto2 {
    display:  flex;
    justify-content: space-around;
    font-size: 45px;
    margin: 5px 5px 5px 5px;

}
}
/**************************************MAQUETAS*************************************/

p {
    text-align: center;
    font-size: 50px bold;
    color: black;
}
/**************************************REDES**************************************/
div .redesF{;
}