//COMPILADOR SASS

//HTML FONDO
/**************************************HTML FONDO**************************************/
body {
    margin: 5px;
    padding: 5px;
}

//HEADER
/**************************************HEADER**************************************/

header {
    background-color: black;
}

//NAV BAR
/**************************************NAV BAR**************************************/

ul {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

li {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

//MAIN
/**************************************MAIN**************************************/
main {
    background-color: orange;
    color: black bold 5px;
}
h1 {
    text-align: center;
    color: 5px white bold;
}

//FOOTER
/**************************************FOOTER**************************************/

footer {
    background-color: darkcyan;
}

//PAGINA HABILIDADES
/**************************************PAGINA HABILIDADES**************************************/
ul {
    display: flex;
    align-content: center;
} 

div {
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
}

//PAGINA CURRICULUM
/*************************************PAGINA CURRICULUM**************************************/

.texto1 {
    background-color: 5px grey bold;
    border: 5px;
    p {
        color: black bold 5px;
    }
}

.texto2 {
    background-color: 5px grey bold;
    border: 5px;
    p {
        color: black bold 5px;
    }
}

/**************************************MAQUETAS*************************************/
/**************************************REDES**************************************/